.attOper{
    float:left;
    margin-bottom:10px;
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 600px) {

    .attOper{
        order:1;
    
    }
    .attOper button{
        padding: 5px;
    }
    .attOperBtn{
        padding-top: 14px;
    }
    .attHeader{
        flex-direction:column;
    }
    .attPer{
    order: 2;
    margin-bottom: 15px;
    }
    .attOperRange{
       
        margin-top: 15px;
    }
    .disPer{
        order: 3; 
    }
    }